@charset "utf-8";
/* CSS Document */
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td
{margin: 0; padding: 0; border: 0; outline: none;}
body {  font-family: "宋体";font-size: 12px;color:#000000;line-height: 20px;text- align:left; background:#f3f3f3;}
td,th {font-family: "宋体";font-size: 12px;color: #000000;}
a {color: #fff;} 
A:link {TEXT-DECORATION: none;}
A:visited {TEXT-DECORATION: none;}
A:hover {TEXT-DECORATION: underline;color: #ffffff;}
ul,li{list-style-type:none;}
.social { padding-left: 0; }
.clearit{clear:both;}

.wrapper{width:1000px; 
         margin:0 auto;
         background:#FFF;
         padding:0 16px;
         overflow:hidden;}

.nav{width:1000px; 
     height:36px; 
     background:#9598a3;
     font-size:14px;}

.nav li{width:200px; 
        text-align:center; 
        line-height:36px; 
        float:left;}

.nav li a:hover{color:#F60;}

.content{width:1000px;
         margin-top:20px;}


 h2{line-height:30px;
          background:#9598a3;
          color:#FFF;
          text-indent:2em;
          margin:0 10px;}

 legend{font-size:20px ;}

 fieldset{border: #000000;
          border-style: solid;
          font-size:15px;
          margin:10px 16px;
          line-height:34px;
          font-weight:normal;}

 form{margin:20px 20px;
     margin-left: 50px;
    line-height:34px;
    font-weight:normal;}

.foot{
        text-align:center;
            margin-top:16px;
            background:#9598a3;}
      
.foot h3{font-size:12px;
               font-weight:normal;
               line-height:36px;
               
               color:#FFF;}

